* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

a {
    color: black;
}

a::before {
    color: black;
}

a::after {
    color: black;
}

/* nav */

.nav {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    color: black;
}

.head {
    width: 100%;
}

.circle {
    float: left;
    position: absolute;
    top: 100px;
    left: 0px;
}

.circle2 {
    position: absolute;
    top: 150px;
    left: 300px;
}

.circle3 {
    position: absolute;
    top: 100px;
    left: 600px;
}

.circle4 {
    position: absolute;
    top: 150px;
    left: 900px;
}

.big-circle,
.middle-circle,
.center-circle {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50px;
    border-radius: 50%;
    background: white;
}

.center-circle {
    text-align: center;
    line-height: 150px;
    font-size: 2em;
}

.big-circle {
    animation: bigani 2s infinite;
}

.middle-circle {
    animation: midani 2s infinite;
}

@keyframes bigani {
    from {
        background: rgba(255, 255, 255, 1)
    }
    to {
        background: rgba(160, 160, 160, 0);
        transform: scale(2);
    }
}

@keyframes midani {
    from {
        background: rgba(255, 255, 255, 1)
    }
    to {
        background: rgba(160, 160, 160, 0);
        transform: scale(2);
    }
}

.backImg img {
    width: 100%;
    height: 100%;
}

.farm-list {
    margin: 0 auto;
    margin-top: 20px;
    width: 1200px;
}

.title {
    text-align: center;
}

.title h1 {
    margin: 0;
    color: #0d3172;
    font-size: 1.8em;
}

.disc {
    margin: 0;
}

.line {
    margin: 0 auto;
    font-size: 12px;
    margin-bottom: 10px;
    border-bottom: 2.3px solid #ffae00;
    width: 80px;
}

.farm-disc {
    width: 100%;
}

.farm-word {
    height: 320.391px;
    width: 60%;
    float: left;
    /* display: -webkit-box; */
    box-orient: vertical;
    /* 限制行数 */
    line-clamp: 9;
    overflow: hidden;
}

.farm-word-left p {
    padding-right: 40px;
}

.farm-word-right p {
    padding-left: 40px;
}

.farm-word h1 {
    /* padding-top: 20px; */
    margin-bottom: 0;
    color: #eead31;
    text-align: center;
}

.farm-img {
    float: left;
    height: 320.391;
    width: 40%;
}

.farm-img img {
    width: 100%;
}

.travel {
    width: 100%;
}

.travel-title {
    text-align: center;
    font-size: 1.2em;
    color: #0d3172;
}

.travel-img {
    width: 100%;
    height: 500px;
    background: linear-gradient(rgba(76, 76, 76, 0), rgb(18, 18, 18)), url(../img/gulou-slider0.JPG) center center no-repeat fixed;
}

.travel-li {
    width: 800px;
    height: 500px;
    margin: auto;
    /* background: red; */
}

#demo-slider-0 {
    padding-top: 23px;
}

.func {
    margin: 0 auto;
    width: 1200px;
}

.func-detail {
    width: 100%;
}

.func-detail-icon,
.func-detail-img {
    float: left;
    width: 50%;
    box-sizing: border-box;
}

.func-detail-icon {
    height: 420px;
}

.func-icon-table {
    width: 100%;
    height: 100%;
}

.func-icon {
    width: 50%;
    height: 33.33%;
    text-align: center;
}

.func-icon td {
    width: 100%;
}

.func-icon h3 {
    margin-top: 10px;
    margin-bottom: 0;
}

.func-icon table {
    margin: 0 auto;
    width: 49%;
}

.func-icon-img {
    height: 100px;
}

.func-icon-img:hover {
    transform: rotate(360deg) translateX(0);
    transition: linear 0.3s;
}

.func-detail-img img {
    width: 100%;
    height: 400px;
}

.foot {
    margin-top: 20px;
    width: 100%;
    height: 200px;
    background: black;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
}

.foot a {
    color: white
}

.foot p {
    margin: 0;
    padding: 0;
}

.foot p:first-child {
    padding-top: 50px;
}

.foot p:last-child {
    padding-top: 20px;
}